{% extends "base.html" %} 
{% block title %}Movie Mentor{% endblock %}
{% block content %}
<div class="container text-center mt-5" id="homepage-text">
    <h1>Get Movie Recommendations</h1>
    <p class="mt-3">Enter a brief description of your movie preferences or interests. Our system uses a neural network and vector encoding to analyze your prompt and recommend movies tailored to your taste. <a href="{{ url_for('views.home') }}">See how it works here.</a></p>
    <form action="{{ url_for('views.get_recommendations') }}" method="POST" class="mt-3">
        <input type="text" name="prompt" class="form-control" placeholder="Enter your movie preferences..." required>
        <button type="submit" class="btn btn-primary mt-3">Get Recommendations</button>
    </form>
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
</div>
<style>
    #homepage-text {
        width: clamp(4rem, 70vw, 38rem);
    }
</style>
{% endblock %}