{% extends "base.html" %}
{% block title %}Preferences - Movie Mentor{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Select Your Preferences</h2>
    <form method="post" action="/get-language">
        <div class="form-group">
            <h5 for="languages">Languages</h5>
            <div id="languages" class="pref-form-control">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="english" id="english">
                                    <label class="form-check-label" for="english">English</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="hindi" id="hindi">
                                    <label class="form-check-label" for="hindi">Hindi</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="kannada" id="kannada">
                                    <label class="form-check-label" for="kannada">Kannada</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="malayalam" id="malayalam">
                                    <label class="form-check-label" for="malayalam">Malayalam</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="tamil" id="tamil">
                                    <label class="form-check-label" for="tamil">Tamil</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="telugu" id="telugu">
                                    <label class="form-check-label" for="telugu">Telugu</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="french" id="french">
                                    <label class="form-check-label" for="french">French</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="german" id="german">
                                    <label class="form-check-label" for="german">German</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="spanish" id="spanish">
                                    <label class="form-check-label" for="spanish">Spanish</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="italian" id="italian">
                                    <label class="form-check-label" for="italian">Italian</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="portuguese" id="portuguese">
                                    <label class="form-check-label" for="portuguese">Portuguese</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="mandarin" id="mandarin">
                                    <label class="form-check-label" for="mandarin">Mandarin</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="japanese" id="japanese">
                                    <label class="form-check-label" for="japanese">Japanese</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="languages" value="korean" id="korean">
                                    <label class="form-check-label" for="korean">Korean</label>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <h5 for="genres">Genres</h5>
            <div id="genres" class="pref-form-control">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Action" id="Action">
                                    <label class="form-check-label" for="Action">Action</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Adventure" id="Adventure">
                                    <label class="form-check-label" for="Adventure">Adventure</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Animation" id="Animation">
                                    <label class="form-check-label" for="Animation">Animation</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Comedy" id="Comedy">
                                    <label class="form-check-label" for="Comedy">Comedy</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Crime" id="Crime">
                                    <label class="form-check-label" for="Crime">Crime</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Documentary" id="Documentary">
                                    <label class="form-check-label" for="Documentary">Documentary</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Drama" id="Drama">
                                    <label class="form-check-label" for="Drama">Drama</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Family" id="Family">
                                    <label class="form-check-label" for="Family">Family</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Fantasy" id="Fantasy">
                                    <label class="form-check-label" for="Fantasy">Fantasy</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Film-Noir" id="Film-Noir">
                                    <label class="form-check-label" for="Film-Noir">Film-Noir</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Horror" id="Horror">
                                    <label class="form-check-label" for="Horror">Horror</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Musical" id="Musical">
                                    <label class="form-check-label" for="Musical">Musical</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Mystery" id="Mystery">
                                    <label class="form-check-label" for="Mystery">Mystery</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input"
                                    <input class="form-check-input" type="checkbox" name="genres" value="Sci-Fi" id="Sci-Fi">
                                    <label class="form-check-label" for="Sci-Fi">Sci-Fi</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Thriller" id="Thriller">
                                    <label class="form-check-label" for="Thriller">Thriller</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="genres" value="Western" id="Western">
                                    <label class="form-check-label" for="Western">Western</label>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Preferences</button>
    </form>
</div>
<style>
    table tr td .form-check{
        margin-top: -0.7rem;
        margin-bottom: -0.4rem;
    }
</style>
{% endblock %}