{% extends "base.html" %} 
{% block title %}AiMo{% endblock %}
{% block content %}
<div class="preferences-form container-fluid d-flex flex-column align-items-center">
    <form id="preference-form" method="post" class="d-flex flex-column align-items-center">
        <div class="d-flex align-items-center" style="max-width: 100%; position: relative;">
            <div class="image-container">
                <img src="{{ poster_url }}" alt="Preference Image" class="img-fluid" id="movie-poster" style="aspect-ratio: 1;"/>
            </div>
            {% if show_details %}
            <div class="movie-details">
                <h2>{{ movie_title }}</h2>
                <p>{{ movie_plot }}</p>
            </div>
            {% endif %}
        </div>
        <div class="d-flex mt-4">
            <button type="submit" class="btn" id="left-btn" onclick="handleClick('left')"><h1>&lt;&lt;</h1></button>
            <button type="submit" class="btn" id="right-btn" onclick="handleClick('right')"><h1>&gt;&gt;</h1></button>
        </div>
    </form>
</div>
<script>
    function setResponse(direction) { document.getElementById('response').value = direction; }

    function createPopupCharacter(btn, char) {
        var unicodeChar = document.createElement("span");
        unicodeChar.classList.add("unicode-popup");
        unicodeChar.innerHTML = char;
        btn.appendChild(unicodeChar);

        setTimeout(function() {
            unicodeChar.remove();
        }, 500);
    }

    function handleClick(direction) {
        setResponse(direction);
        var btn = direction === 'left' ? document.getElementById('left-btn') : document.getElementById('right-btn');
        var char = direction === 'left' ? '&#128078;' : '&#128077;';
        createPopupCharacter(btn, char);
    }

    document.addEventListener('keydown', function(event) 
    {
        if (event.key === "ArrowLeft") 
        {
            setResponse('left');
            createPopupCharacter(document.getElementById('left-btn'), '&#128078;');
            document.getElementById('preference-form').submit();
        } 
        else if (event.key === "ArrowRight") 
        {
            setResponse('right');
            createPopupCharacter(document.getElementById('right-btn'), '&#128077;');
            document.getElementById('preference-form').submit();
        }
    });
</script>
<style>
    .unicode-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        opacity: 0;
        animation: fadeAway .5s ease-out forwards;
        pointer-events: none;
    }

    @keyframes fadeAway {
        0% {
            opacity: 1;
            transform: translateX(-50%) translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-50%) translateY(-100px);
        }
    }

    #left-btn, #right-btn {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    .movie-details {
        position: relative;
        left: -8rem;
        padding: 10px;
        border-radius: 5px;
        max-width: 300px;
    }

    .d-flex {
        position: relative;
    }
</style>
{% endblock %}