{% extends "base.html" %} 
{% block title %}AiMo{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Welcome!</h1>
        <p class="lead">Let's personalize your experience!</p>
        <p>We'll show you a series of movie posters, and we'd like to know whether you're interested in the movie based on the poster.</p>
        <p>Your responses will help us tailor recommendations just for you!</p>
        <p>Ready to get started?</p>
    </div>
    <div class="text-center mt-4">
        <a href="/tune-preferences" class="btn btn-primary btn-lg">Let's go!</a>
    </div>
</div>
{% endblock %}